	  <footer class="page-footer grey">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MarckDX</h5>
                <p class="grey-text text-lighten-4">{{ 'FOOTER_DESCRIPTION' | translate }}</p>
              </div>
              <div class="col l3  s12">
                <h5 class="white-text">Menu</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#projects">{{ 'TAB_PROJECTS' | translate }}</a></li>
                  <li><a class="grey-text text-lighten-3" href="#blog">{{ 'TAB_BLOG' | translate }}</a></li>
                  <li><a class="grey-text text-lighten-3" href="#about">{{ 'TAB_ABOUT' | translate }}</a></li>
                  <li><a class="grey-text text-lighten-3" href="#contact">{{ 'TAB_CONTACT' | translate }}</a></li>
                </ul>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/marckdx">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.facebook.com/marckdx">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.duolingo.com/marckdx">Duolingo</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.github.com/marckdx">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <p class="grey-text text-lighten-4">© <span class="year"></span> Copyright MarckDX
            <a class="grey-text text-lighten-4 right" href="feed.xml">Feed RSS</a>
            </p>
            </div>
          </div>
        </footer>

        <script src="static/js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<script src="static/js/angular.min.js"></script> 
		<script src="static/js/angular-translate.min.js"></script> 
		<script src="static/js/angular-route.min.js"></script>
		<script src="app/app.js"></script> 
	</body>
</html>