body
{
	background-color: #FFFFFF;
}

.mdx-text-color
{
	color: #888888;
}

.mdx-text-primary
{
	color: #438CC7;
}

.mdx-button-primary
{
	background-color: #438CC7;
}

.mdx-button-primary:focus, .mdx-button-primary :hover
{
	background-color: #438CC7!important;
}

.mdx-navbar
{
	background-color:#438CC7;
}

.mdx-footer
{
	background-color:#6D6B6A;
}

.dropdown-content li>a, .dropdown-content li>span {
	color:#438CC7;
}

.mdx-me-centered
{
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.mdx-me
{
   border-radius: 50%;
   max-height: 100px;

   position: relative;
   background-color: #ddd;
   background-size: cover;
   box-shadow: inset 0 0 20px rgba(0,0,0,.08);
   margin: 10px 30px 10px 0;
   cursor: pointer;
   display: inline-block;
   vertical-align: bottom;
   transition: box-shadow .15s ease-in-out;
}

.mdx-title
{
	line-height: 1em;
    margin: 21px 20px 13px 0;
    display: inline-block;
    color: #FFFFFF;
}

.mdx-subtitle
{
    line-height: 1em;
    max-width: 250px;
    font-weight: 300;
    color: #FFFFFF;
}

.mdx-cover
{
	background-image: url('../img/cover.jpeg');
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #438cc7;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}