body
    {
        background: #DAE3E7;
    }

    #input
    {
        width: 100%;
        min-height: 200px;
        border-radius: 0px;
        padding: 10px;
        color: #666;
        border-style: solid;
        border-width: 1px;
    }

    #btnGenerate
    {
        margin-top: 10px;
    }

    .keyword {
        color: #008;
    }

    .type {
        color: #606;
    }

    .single
    {
        padding-left: 10px;
    }

    .double
    {
        padding-left: 20px;
    }

    .triple
    {
        padding-left: 30px;
    }