<div  class="page-header">
		<div class="container mdx-text-color" id="about">
            <div class="row">
	            <div class="col l1">
	              </div>
              <div class="col l4 s12">
              	<p class="flow-text mdx-text-primary">MINHA HISTÓRIA</p>
              	<p>Software developer in Santos, Brazil. Formed in System Analysys at São Paulo State Tecnological College</p>
              	<a class="waves-effect waves-light btn mdx-button-primary" href="#downloadresume.pdf"><i class="material-icons left">description</i>DOWNLOAD RESUME</a>
              </div>
              <div class="col l2">
              </div>
              <div class="col l4 s12">
              	<p class="flow-text mdx-text-primary">INFORMAÇÕES PESSOAIS</p>

              	 <table class="striped">
			        <tbody>
			          <tr>
			            <td>Nome</td>
			            <td>Marco Aurélio Lima</td>
			          </tr>
			          <tr>
			            <td>Idade:</td>
			            <td>24 anos</td>
			          </tr>
			          <tr>
			            <td>Telefone</td>
			            <td>+55 13 988323087</td>
			          </tr>
			          <tr>
			            <td>Email</td>
			            <td>marckdx@outlook.com</td>
			          </tr>
			        </tbody>
			      </table>
              	</div>
            </div>
        </div>
</div>
		